.service-style img{
    width: 200px;
    height: 130px;
    padding: 10px;
    padding-left: 70px;
}
.service-style{
    border: 2px solid rgb(47, 128, 0);
    border-radius: 10px;
}
.service-info{
    text-align: center;
    padding: 5px;
}
.service-info p{
    font-weight: 15px;
}
.service-style:hover{
    background-color: rgb(176, 221, 145);
    box-shadow: 10px 10px 20px gray;
}