.plant-img img{
    width: 280px;
    height: 150;
    padding-left: 30px;
    padding-top: 10px;
}
.plant-item{
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding-bottom: 10px;
}
.plant-info{
    text-align: center;
    padding: 5px;
}
.text-bold{
    font-weight: bold;
}
.plant-item:hover{
    background-color: rgb(176, 221, 145);
    box-shadow: 10px 10px 20px gray;
}