.service-img img{
    width: 280px;
    height: 150px;
    padding-left: 30px;
    padding-top: 10px;
}
.service-hover:hover{
    background-color: rgb(197, 228, 177);
    box-shadow: 10px 10px 20px gray;
}