.header{
    background-color: rgba(103, 184, 103, 0.89);
}
.header h1{
    line-height: 80px;
    margin: 0;
    text-align: center;
    font-size: 50px;
}
.header nav{
    text-align: center;
    line-height: 25px;
}
.nav{
    text-decoration: none;
    color: red;
    font-weight: 50px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 50px;
}
.header nav a:hover{
    background-color: rgb(230, 179, 52);
}