.pro-img img{
    width: 200px;
    height: 130;
    padding-left: 75px;
    padding-top: 20px;
}
.pro-item{
    border: 2px solid goldenrod;
    border-radius: 10px;
}
.pro-info{
    text-align: center;
    padding: 5px;
}
.bold{
    font-weight: bold;
}
.pro-item:hover{
    background-color: rgb(176, 221, 145);
    box-shadow: 10px 10px 20px gray;
}